# Keil MDK build output & temp files
OBJ/
Objects/
Listings/
*.o
*.d
*.crf
*.axf
*.hex
*.map
*.lst
*.dep
*.build_log.htm
*.htm
*.sct
*.bak

# Keil MDK user settings/logs
*.uvoptx
*.uvguix.*
JLinkLog.txt

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Large ML models
*.pth
fp32.onnx
!solar_panel_int8.onnx

# Qt/QMake build artifacts
*.pro.user
*.pro.user.*
.qmake.stash
qrc_*.cpp
moc_*.cpp
build-*
*.obj
ui_*.h

# OS files
.DS_Store
Thumbs.db

