# =========================================================================
# Keil MDK-ARM Build Output & Temporary Files (极其重要，防止编译缓存污染 Git)
# =========================================================================
Objects/
Listings/
OBJ/
*.o
*.d
*.crf
*.axf
*.hex
*.map
*.lst
*.dep
*.build_log.htm
*.htm
*.sct
*.bak

# =========================================================================
# Keil MDK-ARM User Settings & Debugger logs (用户私有界面配置，防止冲突)
# =========================================================================
*.uvoptx
*.uvguix.*
JLinkLog.txt

# =========================================================================
# IDE Settings & Editor Temp Files
# =========================================================================
.vscode/
.history/
.DS_Store
Thumbs.db
